@media screen and (max-width: 3800px) {
  .menu-bar svg {
    display: none;
  }
  .intro-video video {
    height: 100vh;
  }
  .content button {
    display: none;
  }
}

@media (max-width: 991px) {
  .intro-video video {
  position:unset;
  height: 100dvh;
}
  .content button {
    display: block;
    border: none;
    color: #fff;
    margin-top: 41px;
    margin-left: 151px;
    font-size: 18px;
    padding: 3px 8px 8px 8px;
    align-items: center;
    border-radius: 20px;
    background-color: #06676f;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .nav-links p {
    color: #06676f;
    padding: 8px;
  }

  .nav-links button {
    display: none;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-bar {
    display: block;
    cursor: pointer;
  }

  .container {
    display: flex !important;
    padding: 40px;
  }
  .menu-bar svg {
    display: block;
    fill: #06676f;
    width: 30px;
    height: 30px;
  }

  .container span {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .container span p,
  .container span button {
    margin-left: 0;
    margin-top: 10px;
  }

  .intro .content h1 {
    font-size: 36px;
  }

  .intro .content p {
    font-size: 16px;
  }

  .services h1 {
    font-size: 32px;
  }

  .choose-card {
    height: auto;
  }
}

@media (max-width: 768px) {
  .content button {
    display: block;
    border: none;
    color: #fff;
    margin-top: 41px;
    margin-left: 130px;
    font-size: 18px;
    padding: 3px 8px 8px 8px;
    align-items: center;
    border-radius: 20px;
    background-color: #06676f;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
}

@media (max-width: 576px) {
  .content {
    justify-content: center;
  }
  .content button {
    display: block;
    border: none;
    color: #fff;
    margin-left: auto;
    font-size: 18px;
    padding: 3px 8px 8px 8px;
    align-items: center;
    border-radius: 20px;
    background-color: #06676f;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    /* top: 70px; */
    /* right: 20px; */
    padding: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .nav-links p {
    color: #06676f;
    padding: 8px;
  }

  .nav-links button {
    display: none;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-bar {
    display: block;
    cursor: pointer;
  }

  .container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .menu-bar svg {
    display: block;
    fill: #06676f;
    width: 30px;
    height: 30px;
  }

  #logo img {
    height: 50px;
  }

  .intro {
    height: 70vh;
  }

  .intro-video video {
    height: 70vh;
  }

  .intro .content h1 {
    font-size: 28px;
  }

  .intro .content p {
    font-size: 14px;
  }

  .services h1 {
    font-size: 28px;
  }

  .services-container {
    padding: 0 10px;
    gap: 20px;
  }

  .service-card {
    padding: 20px;
  }

  .choose-card h3 {
    font-size: 20px;
  }

  .choose-card p {
    font-size: 0.9em;
  }

  .custom-icon {
    width: 24px;
    height: 24px;
  }

  .why-us {
    padding: 0px;
  }
  header {
    position: unset;
  }

  footer .containerr {
    font-size: 14px;
    padding: 15px 0;
  }
}
