@media (max-width: 991px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .container span {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .container span p,
  .container span button {
    margin-left: 0;
    margin-top: 10px;
  }

  .intro .content h1 {
    font-size: 36px;
  }

  .intro .content p {
    font-size: 16px;
  }

  .services h1 {
    font-size: 32px;
  }

  .choose-card {
    height: auto;
  }
}

/* Mobile devices */
@media (max-width: 576px) {
  header {
    text-align: center;
    padding: 10px;
  }

  #logo img {
    height: 50px;
  }

  .container {
    flex-direction: column;
    padding: 10px;
  }

  .intro {
    height: 70vh;
  }

  .intro-video video {
    height: 70vh;
  }

  .intro .content h1 {
    font-size: 28px;
  }

  .intro .content p {
    font-size: 14px;
  }

  .services h1 {
    font-size: 28px;
  }

  .services-container {
    padding: 0 10px;
    gap: 20px;
  }

  .service-card {
    padding: 20px;
  }

  .choose-card h3 {
    font-size: 20px;
  }

  .choose-card p {
    font-size: 0.9em;
  }

  .custom-icon {
    width: 24px;
    height: 24px;
  }
  
.why-us {
  padding: 0px;
}
header {
  position: unset;

  footer .containerr {
    font-size: 14px;
    padding: 15px 0;
  }
}
