.carousal-section
{
  padding: 2rem;
  background-color: #f8f9fa;
}

.carousal-heading {
  text-align: center;
  padding:2rem;
}

.carousal-heading h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #06676f;
}

.photo-grid.owl-carousel .item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.photo-grid.owl-carousel img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.owl-nav {
  text-align: center;
}

.owl-prev,
.owl-next {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  font-size: 60px !important;
  /* margin: 0 10px; */
  transition: background-color 0.3s ease;
}

.owl-prev:hover,
.owl-next:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}